node_modules/
blockly_vaje/
testni_video/
.vs/

# Stuff
*.zip
*.mkv
*.mp4
*.avi
*.out

# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Roslyn cache directories
*.ide/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

#NUNIT
*.VisualState.xml
TestResult.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Chutzpah Test files
_Chutzpah*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
.Rproj.user

train/
dataset*.h5
2gram.h5
3gram.h5
*.h5

kv_decoder.onnx
kv_encoder.onnx
tiny_decoder.onnx
tiny_encoder.onnx

ctx10decoder.onnx
ctx10encoder.onnx
model.bin

*.sif
*.img
*.pt
*.safetensors
*.pb
*.tflite
*debug_libonnxruntime.so
**/github_release/

*.apk